@page
@model CustomerRegisterModel
@{
    ViewData["Title"] = "Customer Register";
}

<div class="container mt-20">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <br/>
            <br/>
            <br/>
            <h1 class="mb-3">Register</h1>

            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="mb-3">
                    <label class="form-label" asp-for="Model.FirstName">FirstName</label>
                    <input type="text" asp-for="Model.FirstName" class="form-control" required />
                    <span asp-validation-for="Model.FirstName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="Model.LastName">LastName</label>
                    <input type="text" asp-for="Model.LastName" class="form-control" required />
                    <span asp-validation-for="Model.LastName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="Model.Email">Email Address</label>
                    <input type="text" asp-for="Model.Email" class="form-control" required />
                    <span asp-validation-for="Model.Email" class="text-danger"></span>
                </div>
                 <div class="mb-3">
                    <label class="form-label" asp-for="Model.Password">Password</label>
                    <input type="password" asp-for="Model.Password" class="form-control" required/>
                    <span asp-validation-for="Model.Password" class="text-danger"></span>
                </div>
                 <div class="mb-3">
                    <label class="form-label" asp-for="Model.Phone_Number">Phone Number</label>
                    <input type="text" asp-for="Model.Phone_Number" class="form-control" required />
                    <span asp-validation-for="Model.Phone_Number" class="text-danger"></span>
                </div>
                <hr/>
                 <br/>
                 <br/>
                <h4 class="form-label" style="opacity:0.5;">Billing</h4>
                 <div class="mb-3">
                    <label class="form-label" asp-for="Model.Street_Address_billing">Street Address</label>
                    <input type="text" asp-for="Model.Street_Address_billing" class="form-control" required />
                    <span asp-validation-for="Model.Street_Address_billing" class="text-danger"></span>
                </div>
                 <div class="mb-3">
                    <label class="form-label" asp-for="Model.City_billing">City</label>
                    <input type="text" asp-for="Model.City_billing" class="form-control" required />
                    <span asp-validation-for="Model.City_billing" class="text-danger"></span>
                </div>
                 <div class="mb-3">
                    <label class="form-label" asp-for="Model.State_billing">State</label>
                    <input type="text" asp-for="Model.State_billing" class="form-control" required />
                    <span asp-validation-for="Model.State_billing" class="text-danger"></span>
                </div>
                 <div class="mb-3">
                    <label class="form-label" asp-for="Model.Zip_Code_billing">Zip Code</label>
                    <input type="text" asp-for="Model.Zip_Code_billing" class="form-control" required />
                    <span asp-validation-for="Model.Zip_Code_billing" class="text-danger"></span>
                </div>
                 <div class="mb-3">
                    <label class="form-label" asp-for="Model.Country_billing">Country</label>
                    <input type="text" asp-for="Model.Country_billing" class="form-control" required />
                    <span asp-validation-for="Model.Country_billing" class="text-danger"></span>
                </div>

                 <hr/>
                <h4 class="form-label" style="opacity:0.5;">Shipping</h4>
                <br/>
                 <div class="mb-3">
                    <label class="form-label" asp-for="Model.Street_Address_shipping">Street Address</label>
                    <input type="text" asp-for="Model.Street_Address_shipping" class="form-control" required />
                    <span asp-validation-for="Model.Street_Address_shipping" class="text-danger"></span>
                </div>
                 <div class="mb-3">
                    <label class="form-label" asp-for="Model.City_shipping">City</label>
                    <input type="text" asp-for="Model.City_shipping" class="form-control" required />
                    <span asp-validation-for="Model.City_shipping" class="text-danger"></span>
                </div>
                 <div class="mb-3">
                    <label class="form-label" asp-for="Model.State_shipping">State</label>
                    <input type="text" asp-for="Model.State_shipping" class="form-control" required />
                    <span asp-validation-for="Model.State_shipping" class="text-danger"></span>
                </div>
                 <div class="mb-3">
                    <label class="form-label" asp-for="Model.Zip_Code_shipping">Zip Code</label>
                    <input type="text" asp-for="Model.Zip_Code_shipping" class="form-control" required />
                    <span asp-validation-for="Model.Zip_Code_shipping" class="text-danger"></span>
                </div>
                 <div class="mb-3">
                    <label class="form-label" asp-for="Model.Country_shipping">Country</label>
                    <input type="text" asp-for="Model.Country_shipping" class="form-control" required />
                    <span asp-validation-for="Model.Country_shipping" class="text-danger"></span>
                </div>
                 <br/>
                 
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
                <br/>
                <br/>
                <br/>
            </form>
        </div>
    </div>
</div>
